@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 40px;
}

.gradient-text {
  background: linear-gradient(90deg, #ff7854, #fd267d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
